.container {
    max-width: 700px;

    margin: 0 auto;
    padding-bottom: 3rem;
}

.post {
    display: block;
    
    
    & + .post {
        margin-top: 3rem;
    } 

    .postTitle {
        font-size: 1.5rem;
    }

    .postSubtitle {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: normal;
        color: var(--gray-100);
    }

    .postInfo {
        margin-top: 1.5rem;
        font-size: 0.75rem;
        color: var(--gray-200);
        display: flex;
        .postInfoFirstPubDate, .postInfoAuthor {
            display: flex;
            align-items: center;
        }
        .postInfoAuthor {
            margin-left: 1.5rem;
        }
        .postInfoIcon {
            font-size: 1.25rem;
            margin-right: 0.5rem;
        }
    }
}

.loadMorePosts {
    display: block;
    margin-top: 3rem;
    color: var(--pink-200);
    transition: color 0.2s;
    font-weight: 600;

    &:hover {
        color: var(--pink-100);
        cursor: pointer;
    }
}